CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MILAN85BOARD=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/Miian85-FedevelLinuxCourse/milan85board/mx6q_1x_mt29pzzz4d4bkesk.cfg,MX6Q"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_SPI_FLASH=y
